* {
  /*Reset browser defaults*/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*General page settings*/
  font-family: "OpenDyslexic", "Helvetica", sans-serif;
  background-color: rgb(248, 216, 221);
}

/*Header and nav bar*/
header {
  position: fixed;
  width: 100%;
  color: darkmagenta;
  text-align: center;
  top: 0px;
}

h1 {
  font-weight: bold;
  padding-top: 30px;
  padding-right: 100px;
  z-index: 3;
  font-size: 50px;
}

header img {
  overflow: hidden;
  position: relative;
  width: 200px;
  height: 200px;
  z-index: 2;
  float: left;
  padding: 15px;
  border-radius: 50%;
}

aside {
  padding: 0px 100px;
}

h1,
aside,
header img {
  padding-bottom: 15px;
  background-color: rgb(222, 176, 246);
}

/*Main body*/
main {
  position: relative;
  top: 200px;
}

h2,
p {
  margin: 15px;
}

article {
  border: solid 2px grey;
  margin: 15px;
}

img.blogscreenshot {
  width: 50%;
}

img.blogscreenshot,
figcaption.withscreenshot {
  display: inline-block;
  padding: 0px 25px;
}

figure {
  text-align: center;
}
